{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": { "browser": true, "node": true },
  "plugins": [ "react", "jsx-a11y" ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "no-void": 0,
    "max-len": 0,
    "prefer-template": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": true}
    ]
  },
  "globals": {
    "__DEVSERVER__": true,
    "__DEVCLIENT__": true
  }
}
